<mat-toolbar id="mainToolbar" color="primary">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="span-img"><img id="img" src="../assets/images/accolite-new.png"/></span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" opened> 

      <mat-nav-list class="matNavList">
          <a mat-list-item [routerLink]="['/visitor']" routerLinkActive="active" [queryParams]="{ loc: val }">
            <div class="icon-content">
              <mat-icon>group</mat-icon>
              <span>Visitor</span>
            </div>
          </a>
          <a mat-list-item [routerLink]="['/report']" routerLinkActive="active" [queryParams]="{ loc: val }">
            <div class="icon-content">
              <mat-icon>insert_invitation</mat-icon>
              <span>Report</span>
            </div>
          </a>


      </mat-nav-list>
      

      <drop-down class="locSelect" [data]="location" label="Location" [selectedValue]="val" (selectedValueChange)="selectedValue($event)" ></drop-down>
      
      
    </mat-sidenav>
  
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">

      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>


