<mat-toolbar id="mainToolbar" color="primary">
  <mat-toolbar-row>
      <div class="nav-section">
          <div class="nav-section-left">
              <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              <span class="span-img"><img id="img" src="../assets/images/accolite-new.png"/></span>
            </div>
            <div class="nav-section-right">
              <mat-icon class="toolbar-icon" *ngIf="showNotification"  (click)="showToggle = !showToggle" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
              <div *ngIf="showNotification && showToggle" class="notification-popup">
                <div class="notification-item">
                  <div class="initial-title">
                  <mat-icon style="vertical-align: middle">info</mat-icon>
                  Notifications</div>
                </div>
                <div class="notification-item">
                  <div class="notification-subject">Birthday Notification</div>
                  <div class="notification-comment">Its you friend Tim John's birthday today.</div>
                </div>
                <div class="notification-item">
                  <div class="notification-subject">Birthday Notification</div>
                  <div class="notification-comment">Its you friend Tim John's birthday today.</div>
                </div>
                <div class="notification-item">
                  <div class="notification-subject">Birthday Notification</div>
                  <div class="notification-comment">Its you friend Tim John's birthday today.</div>
                </div>
              </div>
            </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" opened>
      <mat-nav-list class="matNavList">
          <a mat-list-item [routerLink]="['/visitor']" routerLinkActive="active" [queryParams]="{ loc: val }">
              <div class="icon-content">
                  <mat-icon>group</mat-icon>
                  <span>Visitor</span>
              </div>
          </a>
          <a mat-list-item [routerLink]="['/report']" routerLinkActive="active" [queryParams]="{ loc:val }">
              <div class="icon-content">
                  <mat-icon>insert_invitation</mat-icon>
                  <span>Report</span>
              </div>
          </a>
      </mat-nav-list>
      <!-- <drop-down class="locSelect" [data]="location" label="Location" [selectedValue]="val"
          (selectedValueChange)="selectedValue($event)"></drop-down> -->

          <mat-form-field>
              <mat-label>Location</mat-label>
              <mat-select [ngModel]="accLocation" (ngModelChange)="accLocation = $event;selectedValue($event)" name="val"  multiple>
                <mat-option *ngFor="let accLocation of location" [value]="accLocation">{{accLocation}}</mat-option>
              </mat-select>
            </mat-form-field>

  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>