.example-container {
    height: 50%;
    margin: 10px;
  }
.mat-sidenav-content{
  height: 539px !important;
}  

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 81px;
  margin-top: 9px;
}

#img {
  width: 10em !important;
  margin: 0 1rem;
}

mat-toolbar-row{
  margin: 0 !important;
}

.mat-drawer.mat-drawer-side{
  z-index: 1 !important;
}