<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Visitor search</ng-template>

    <div class="example-container">
      <mat-form-field class="set-width">
        <span class="span" matPrefix
          ><mat-icon class="span-maticon">mail</mat-icon>&nbsp;</span
        >
        <input
          matInput
          type="string"
          placeholder="Email"
          [(ngModel)]="user.emailId"
          (keyup)="searchValues($event.target.value, 'email')"
          class="example-right-align"
        />
      </mat-form-field>

      <mat-spinner *ngIf="showLoading"></mat-spinner>

      <!-- <h3 class="setMiddle"> OR </h3>

          <mat-form-field class="set-width">
            <input matInput type="number" placeholder="Mobile number" [(ngModel)]="user.phoneNumber" (keyup)="searchValues($event.target.value,'phoneNumber');" #phoneNumber>
            <span class="span" matPrefix><mat-icon class="span-maticon">smartphone</mat-icon>&nbsp;</span>
          </mat-form-field> -->

      <mat-list role="list" *ngIf="(data && data.idNumber) || !isEmailPresent">
        <mat-list-item
          *ngIf="visitStatus && isEmailPresent"
          class="list {{ visitStatus.toLowerCase() }}"
          role="listitem"
        >
          <span>Status -</span>
          {{ visitStatus }}
        </mat-list-item>
        <mat-list-item class="list new" role="listitem" *ngIf="!isEmailPresent">
          <span>New visitor</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div style="margin-top:10px;">
      <button *ngIf="data && isEmailPresent" mat-raised-button matStepperNext>
        Next
      </button>
      <button *ngIf="!isEmailPresent" mat-raised-button matStepperNext>
        Create
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="heroForm">
    <ng-template matStepLabel>Visitor Details</ng-template>
    <form #heroForm="ngForm">
      <div class="flex-container-wrapper">
        <div class="flex-container">
          <mat-checkbox
            #ref
            color="primary"
            (click)="onClick($event)"
            [checked]="checked"
            >Scheduled</mat-checkbox
          >
        </div>

        <div class="flex-container">
          <mat-form-field>
            <input
              [disabled]="data"
              id="input"
              name="firstName"
              [(ngModel)]="user.firstName"
              matInput
              placeholder="First Name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [disabled]="data"
              id="input"
              name="lastName"
              [(ngModel)]="user.lastName"
              matInput
              placeholder="Last Name"
              required
            />
          </mat-form-field>
        </div>
        <div class="flex-container">
          <mat-form-field>
            <mat-select
              [disabled]="data"
              [(ngModel)]="user.idType"
              name="idType"
              placeholder="Govt Id Type"
              [required]="!ref.checked"
            >
              <mat-option value="{{ id }}" *ngFor="let id of idTypes">{{
                id
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              [disabled]="data"
              id="input"
              name="idNumber"
              [(ngModel)]="user.idNumber"
              matInput
              placeholder="Id number"
              [required]="!ref.checked"
            />
          </mat-form-field>
        </div>

        <div class="flex-container">
          <mat-form-field>
            <mat-select
              [(ngModel)]="user.visitSummary[0].purpose"
              name="purpose"
              placeholder="Purpose"
              required
            >
              <mat-option
                value="{{ purpose }}"
                *ngFor="let purpose of visitPurposes"
                >{{ purpose }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              id="input"
              name="comingFrom"
              [(ngModel)]="user.visitSummary[0].comingFrom"
              matInput
              placeholder="Coming From"
              [required]="!ref.checked"
            />
          </mat-form-field>
        </div>
        <div class="flex-container">
          <mat-form-field>
            <input
              id="input"
              name="badgeNo"
              [(ngModel)]="user.visitSummary[0].badgeNo"
              matInput
              placeholder="Temporary badge number"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              
              matInput
              type="number"
              placeholder="Mobile number"
              minlength="10"
              maxlength="10"
              [(ngModel)]="user.phoneNumber"
              name="phoneNumber"
              #phoneNumber
              [required]="!ref.checked"
            />
          </mat-form-field>
        </div>
        <div class="flex-container">
          <mat-form-field>
            <input
              name="contactPerson"
              [(ngModel)]="user.visitSummary[0].contactPerson"
              matInput
              placeholder="Contact Person"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="email"
              pattern="[^@]+@[^\.]+\..+"
              name="contactPersonEmailId"
              [(ngModel)]="user.visitSummary[0].contactPersonEmailId"
              matInput
              placeholder="Contact Person Email Id"
              required
            />
          </mat-form-field>

          <!-- <button mat-button>Add Contact Person</button> -->
        </div>
        <div class="flex-container" *ngIf="ref.checked">
          <mat-form-field>
            <input
              name="scheduledStartDate"
              [matDatepicker]="picker"
              [(ngModel)]="user.visitSummary[0].scheduledStartDate"
              matInput
              placeholder="Start Date"
              required
              [min]="minDate"
              #pic
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              name=" scheduledEndDate"
              [matDatepicker]="picker2"
              [(ngModel)]="user.visitSummary[0].scheduledEndDate"
              matInput
              placeholder="End Date"
              [min]="pic.value"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker
              touchUi
              #picker2
              disabled="false"
              [startAt]="pic.value"
            ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex-container">
          <mat-form-field>
            <input
              name="contactPersonPhone"
              minlength="10"
              maxlength="10"
              [(ngModel)]="user.visitSummary[0].contactPersonPhone"
              matInput
              placeholder="Contact Person Phone Number"
              required
            />
          </mat-form-field>

          <!-- <button mat-button>Add Contact Person</button> -->
        </div>

        <!-- <div>
            <button mat-button matStepperPrevious>Request Approval</button>
            <button mat-button (click)="stepper.reset()">Notify</button>
          </div> -->

        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Approval State</ng-template>
    <mat-list
      role="list"
      *ngIf="data && data.idNumber"
      style="margin-top:10px; "
    >
      <mat-list-item
        class="list {{
          (data?.visitSummary)[data?.visitSummary?.length - 1]?.status
            ? data?.visitSummary[
                data?.visitSummary?.length - 1
              ]?.status?.toLowerCase()
            : data?.idNumber
            ? 'pending'
            : null
        }}"
        role="listitem"
      >
        <span *ngIf="data && data.idNumber">Status -</span>
        {{
          (data?.visitSummary)[0]?.status
            ? (data?.visitSummary)[0]?.status
            : data?.idNumber
            ? "PENDING"
            : null
        }}
      </mat-list-item>
    </mat-list>

    <div style="margin-top:10px;">
      <button style="margin-right:5px;" mat-raised-button matStepperPrevious>
        Previous
      </button>
      <button
        style="margin-right:5px;"
        *ngIf="!data"
        mat-raised-button
        (click)="stepper.reset()"
      >
        Reset
      </button>
      <button
        style="margin-right:5px;"
        *ngIf="!data"
        mat-raised-button
        (click)="onSubmit()"
      >
        Finish
      </button>
      <button
        style="margin-right:5px;"
        *ngIf="isAddVisit"
        mat-raised-button
        (click)="onAddVisit()"
      >
        Add Visit
      </button>
      <button
        style="margin-right:5px;"
        *ngIf="(data?.visitSummary)[0]?.status == 'SCHEDULED'"
        mat-raised-button
        (click)="onUpdateVisit()"
      >
        Update Visit Details
      </button>
      <button
        style="margin-right:5px;"
        *ngIf="(data?.visitSummary)[0]?.status == 'SCHEDULED'"
        mat-raised-button
        (click)="onNotify()"
      >
        Notify Contact Person
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
