.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .padding10 {
      padding: 10px;
  }

  .width150 {
      width: 150px;
  }

  .inline-block-label {
    display: inline-block;
  }