<div class="container">
  <form [formGroup]="form" class="normal-form ">
    <mat-grid-list cols="2" rowHeight="500">
      <div class="header table-div">
        <mat-form-field class="col-md-4 visitorInput">
          <mat-select formControlName="visitorType" placeholder="Visitor type">
            <ng-container *ngFor="let type of visitorType">
              <mat-option value="{{ type }}">{{ type }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        *ngIf="
          form.get('visitorType').value == 'Guest' ||
            !form.get('visitorType').value;
          else second
        "
      >
        <table width="700" class="table-div">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  formControlName="firstName"
                  autocomplete="off"
                  matInput
                  placeholder="Firstname"
                />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="lastName"
                  matInput
                  placeholder="lastname"
                />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-select formControlName="idType" placeholder="ID type">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let type of ids">
                    <mat-option value="{{ type }}">{{ type }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="idNumber"
                  matInput
                  placeholder="ID Number"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="emailId"
                  matInput
                  placeholder="Email Id"
                />
                <mat-error *ngIf="form.controls['emailId'].errors?.required"
                  >This field is mendatory</mat-error
                >
                <mat-error *ngIf="form.controls['emailId'].errors?.email"
                  >Invalid email address.</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="phoneNumber"
                  matInput
                  placeholder="Mobile*"
                />
                <mat-error *ngIf="form.controls['phoneNumber'].errors?.required"
                  >This field is mandatory.</mat-error
                >
                <mat-error *ngIf="form.controls['phoneNumber'].errors?.pattern">
                  Invalid mobile number
                </mat-error>
                <!-- <mat-error *ngIf="service.form.controls['mobile'].errors?.maxlength">Max 10 digit required</mat-error> -->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="comingFrom"
                  matInput
                  placeholder="Coming From"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="contactPerson"
                  matInput
                  placeholder="Contact person"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="inTime"
                  matInput
                  placeholder="In time"
                  value="{{ now | date: 'medium' }}"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-select formControlName="purpose" placeholder="Purpose">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let pur of purposes">
                    <mat-option value="{{ pur.value }}">{{
                      pur.value
                    }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="full-width">
              <div class="button-row" style="display:inline">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
              <div style="display:inline ;margin-left: 3%">
                <button mat-raised-button color="warn" (click)="onClear()">
                  Clear
                </button>
              </div>
            </td>
          </tr>
        </table>

        <!-- <mat-grid-tile>
                <div class="controles-container secondGrid">
                  <mat-form-field>
                    <input
                      autocomplete="off"
                      formControlName="lastName"
                      matInput
                      placeholder="lastname"
                    />
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      autocomplete="off"
                      formControlName="idNumber"
                      matInput
                      placeholder="ID Number"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      autocomplete="off"
                      formControlName="phoneNumber"
                      matInput
                      placeholder="Mobile*"
                    />
                    <mat-error
                      *ngIf="form.controls['phoneNumber'].errors?.required"
                      >This field is mandatory.</mat-error
                    >
                    <mat-error
                      *ngIf="form.controls['phoneNumber'].errors?.pattern"
                    >
                      Invalid mobile number
                    </mat-error>
                    <mat-error *ngIf="service.form.controls['mobile'].errors?.maxlength">Max 10 digit required</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input
                      autocomplete="off"
                      formControlName="contactPerson"
                      matInput
                      placeholder="Contact person"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select formControlName="purpose" placeholder="Purpose">
                      <mat-option>None</mat-option>
                      <ng-container *ngFor="let pur of purposes">
                        <mat-option value="{{ pur.value }}">{{ pur.value }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile> -->
      </div>

      <ng-template #second>
        <table width="700" class="table-div">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  formControlName="employeeId"
                  autocomplete="off"
                  matInput
                  placeholder="Employee Id"
                />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="inTime"
                  matInput
                  placeholder="In time"
                  value="{{ now | date: 'medium' }}"
                />
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="emailId"
                  matInput
                  placeholder="Email Id"
                />
                <mat-error>Invalid email address.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="phoneNumber"
                  matInput
                  placeholder="Mobile*"
                />
                <mat-error *ngIf="form.controls['phoneNumber'].errors?.required"
                  >This field is mandatory.</mat-error
                >
                <mat-error *ngIf="form.controls['phoneNumber'].errors?.pattern">
                  Invalid mobile number
                </mat-error>
                <!-- <mat-error *ngIf="service.form.controls['mobile'].errors?.maxlength">Max 10 digit required</mat-error> -->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  formControlName="firstName"
                  autocomplete="off"
                  matInput
                  placeholder="Firstname"
                />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  autocomplete="off"
                  formControlName="lastName"
                  matInput
                  placeholder="lastname"
                />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <div class="button-row">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="form.invalid"
                  (click)="onSubmitEmployeeData()"
                >
                  Submit
                </button>
              </div>
            </td>
          </tr>
        </table>
      </ng-template>
    </mat-grid-list>
  </form>
</div>
