<div class="flex-container">
  <table>
    <tr>
      <td>
        <mat-form-field class="column">
          <input
            name="firstName"
            [(ngModel)]="data.firstName"
            matInput
            placeholder="First Name"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="column column_margin">
          <input
            name="lastName"
            [(ngModel)]="data.lastName"
            matInput
            placeholder="Last Name"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="column">
          <input
            name="badgeNo"
            [(ngModel)]="data.visitSummary.badgeNo"
            matInput
            placeholder="Badge No"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="column column_margin">
          <input
            name="comingFrom"
            [(ngModel)]="data.visitSummary.comingFrom"
            matInput
            placeholder="Coming From"
            required
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="column">
          <input
            name="phoneNumber"
            [(ngModel)]="data.phoneNumber"
            matInput
            placeholder="Phone Number"
            minlength="10"
            maxlength="10"
            required
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="column column_margin">
          <input
            name="emailId"
            [(ngModel)]="data.emailId"
            matInput
            placeholder="email Id"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="column">
          <input
            name="contactPerson"
            [(ngModel)]="data.visitSummary.contactPerson"
            matInput
            placeholder="Contact Person"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="column column_margin">
          <input
            name="purpose"
            [(ngModel)]="data.visitSummary.purpose"
            matInput
            placeholder="purpose"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <button mat-raised-button (click)="onNoClick(data)" color="primary">
          Submit
        </button>
      </td>
    </tr>
  </table>
</div>
