mat-card {
  padding: 0;
}

.card-title {
  font-weight: 700;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 997;
  overflow: auto;
  margin-bottom: 0;
}

mat-card-header,
mat-card-content {
  padding: 1rem;
}
/* mat-card-header {
  background-color: gainsboro;
} */

.mat-card-title {
  margin: 0 !important;
}

mat-card-header {
  border-bottom: 1px solid #ddd;
}

mat-card-header div.title {
  width: 70%;
  float: left;
}

mat-card-header div.actions {
  width: 30%;
  display: inline-block;
  text-align: right;
}

div.actions mat-icon:hover {
  cursor: pointer;
}