
/* 
.span{
    display: inline-block
}
.span-maticon{
    vertical-align: bottom
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > mat-form-field{
    display: block;
    width:23rem;
  }
  
  h2.setMiddle{
    padding-left: 10rem; 
  }

  div.flex-container-wrapper{
    padding: 1rem;
  }

  div.flex-container-wrapper >  div.flex-container{
    display: flex;
  }

  div.flex-container-wrapper >  div.flex-container > mat-form-field{
    flex:1;
    padding-right: 2rem;
  } */
